.feedback {
	padding-bottom: 180px;
	
	@include mediaTablet {
		padding-bottom: 120px;
	}
}

.feedback__title {
	margin-bottom: 38px;

	@include mediaTablet {
		margin-bottom: 19px;
	}
}

.feedback__btn {
	padding: 40px;
}

